<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route name="indexAdmin" url="/admin/" module="News" action="index"/>
    <route name="addNews" url="/admin/news-insert" module="News" action="insert"/>
    <route name="newsUpdate" url="/admin/news-update-{id}" module="News" action="update" vars="id"/>
    <route name="newsDelete" url="/admin/news-delete-{id}" module="News" action="delete" vars="id"/>
    <route name="commentUpdate" url="/admin/comment-update-{id}" module="News" action="updateComment"
           vars="id"/>
    <route name="commentDelete" url="/admin/comment-delete-{id}" module="News" action="deleteComment"
           vars="id"/>
    <route name="logout" url="/admin/logout" module="Connexion" action="logout"/>
    <route name="connexion" url="/admin/login" module="Connexion" action="index"/>
</routes>