body {

    margin-top: 50px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input {

    margin: 10px 0 10px 0;
}

.break {
    word-wrap: break-word;
}

fieldset {
    min-width: 100%;
}