body {

    margin-top: 50px;
    transition: all 0.5s;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input {

    margin: 10px 0 10px 0;
}

.break, * {
    word-wrap: break-word;
}

fieldset {

    min-width: 100%;
}

.loader {

    width: 50px;
    height: 50px;

}

#main {

    transition: all 0.5s;
}

.pre-footer {

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
}

.pre-footer a {

    color: #88ac0b;
    font-weight: bold;

}

.tag-item {

    cursor: pointer;
}

.tag {

    text-transform: capitalize;
}

#cloud-block {

    width: 40%;
    margin: 50px auto;
    text-align: justify;
}

.action {

    margin-bottom: 30px;
}

.action span {

    opacity: 0.7;
}

header a {

    color: white !important;
}

.checkform label, .checkform p {

    display: inline-block;
}

.fadein {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation-fill-mode: forwards; /*IE 10+*/
    animation-fill-mode: forwards; /*when the spec is finished*/
}

.voirPlus {

    position: relative;
    background: #237FBE;
    border: none;
    cursor: pointer;
    margin-top: 3px;
    padding: 8px;
    color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.1s;

}

.comment-section {

    transition: all 0.5s;
}

.popin {

    opacity: 0;
    transform: scale(0, 0.2);
    animation-name: popin;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation-fill-mode: forwards; /*IE 10+*/
    animation-fill-mode: forwards; /*when the spec is finished*/
}

@keyframes popin {
    from {
        opacity: 0;
        transform: scale(0, 0.2);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.invalid {

    border-color: #e74c3c;
}

input[name=tagString] {

    display: inline-block;
    width: auto;
    margin-left: 5px;
}

.input-auto {

    font-weight: bold;
    margin: 0 5px;
    font-size: larger;
    position: relative;
    padding-right: 15px;

}

.comment {

    transition: all 0.5s;
    transform-origin: 0 0;
}

.removeComment {

    opacity:0;
    transform: scaleY(0);
}

.no-comment {

    display: block;
}

fieldset + .no-comment {

    display: none;
}

.close-span {

    position: absolute;
    top:1px;
    right:1px;
    font-size:smaller;
    cursor: pointer;
}

.close-span::after {

    content: 'x';

}

.errorAnimate {

    animation: errorAnimate 0.1s infinite;
}

@keyframes errorAnimate {
    0% {
        transform: translateX(-2px);
        border:1px solid red;
    }

    33% {

        transform: translateX(0px);
        border:1px solid red;

    }
    66% {
        transform: translateX(2px);
        border:1px solid red;
    }

    100% {

        transform: translateX(0px);
        border:1px solid red;
    }
}